.header { 
 background: linear-gradient(10.1deg, #000000 2.08%, rgba(0, 0, 0, 0) 91.71%);
 z-index: 999;
 //transform: matrix(1, 0, 0, -1, 0, 0);
 //padding-top: rem(20);
 // .header__inner
 &__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptiveValue("gap", 60, 20);
  height: rem(86);
  @media (max-width: 1115px) {
   display: block;
  }
  @media (max-width: 900px) {
   display: flex;
   justify-content: space-between;
  }
 }
 // .header__logo
 &__logo {
  display: block;
  z-index: 111;
  margin-top: rem(20);
  @media (max-width: 1115px) {
   text-align: center;
   margin-bottom: rem(20);
  }
 }
 // .header__list
 &__list {
  display: flex;
  gap: rem(40);
  @media (max-width: 1115px) {
   justify-content: center;
  }
  @media (max-width: 900px) {
   flex-direction: column;
   align-items: center;
  }
 }
 // .header__list-item
 &__list-item {
  border-bottom: rem(1) solid transparent;
  padding-bottom: rem(10);
  transition: all 0.7s;
  &:hover {
   border-color: $mainColor;
  } 
 }
 // .header__list-link
 &__list-link {
  @include adaptiveValue("font-size", 24, 20);
  line-height: math.div(24, 24);
 }
}
//===================================================================================================================================================
.menu {
 // .menu__body
 &__body {
  @media (max-width: 900px) {
   position: fixed;
   width: 100%;
   height: 100%;
   top: -100%;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: auto;
   background-color: #000;
   padding: rem(65) rem(15) rem(50) rem(15) ;
   z-index: 4;
   transition: top 0.8s;
   .menu-open & {
    top: 0;
   }
  }
 }
}
//Burger
.icon-menu {
	display: none;
	@media (max-width: 900px) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}